.d-flex.justify-content-between.bg-primary {
    background-color: #a30dda !important;
    border-radius: 6px;
  }

img{
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 45%;
    background-clip: content-box;
}

h1 {
    font-family: "calibri";
    font-size: 40px;
    margin-right: 90px;
    text-shadow: 
      2px 2px 0 black,
      -2px -2px 0 black,
      2px -2px 0 black,
      -2px 2px 0 black;
  }

h2 {
    font-family: "calibri";
    font-size: 40px;
    margin-right: 90px;
    text-shadow: 
      2px 2px 0 black,
      -2px -2px 0 black,
      2px -2px 0 black,
      -2px 2px 0 black;
  }