
    <div class=" container-fluid d-flex justify-content-between bg-primary p-1">
        <h1 class="text-center text-white" style="font-family: calibri; font-size: 80px;">
          SISTEMA DE INVENTARIO
        </h1>
        <h2 class="text-white custom-h2">
          SPORT 10
        </h2>
      <a href="../Inicio/iniciarsesion.html" class="text-white mt-2">
        Cerrar Sesión
      </a>
    </div>
  
  <div  class="container-fluid">
    <div id="cajas" class="row row-cols-3 g-3 my-4">
      <div class="col">
        <div class="card text-center border-dark">
          <a href="usuario.html" class="text-decoration-none">
            <img src="imagenes/usuario.gif" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Usuario</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card text-center border-dark">
          <a href="index.html" class="text-decoration-none">
            <img src="imagenes/productos.gif" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Producto</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card text-center border-dark">
          <a href="compra.html" class="text-decoration-none">
            <img src="imagenes/comprar.gif" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Compra</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card text-center border-dark">
          <a href="proveedor.html" class="text-decoration-none">
            <img src="imagenes/proveedor.gif" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Proveedor</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card text-center border-dark">
          <a href="compras.html" class="text-decoration-none">
            <img src="imagenes/venta.gif" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Venta</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card text-center border-dark">
          <a href="inicioinforme.html" class="text-decoration-none">
            <img src="imagenes/ventas.gif" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Informes</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>