.d-flex.justify-content-between.bg-primary {
    background-color: #a30dda !important;
  }
#tt{
    text-shadow: 
      2px 2px 0 black,
      -2px -2px 0 black,
      2px -2px 0 black,
      -2px 2px 0 black;
  }

#t4 {
  margin-top: 40px;
    margin-right: 95px;
    text-shadow: 
      2px 2px 0 black,
      -2px -2px 0 black,
      2px -2px 0 black,
      -2px 2px 0 black;
  }